.Footer-section{
    left: 0;
    bottom: 0;
    width: 100%;
    
}
.Footer-columns{
    align-items: flex-start;
    display: flex;
    flex: 1 1;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 4%;
  
    
}

.column1 {
    display: flex;
    justify-content: flex-start;
    width: auto;
}

.column1 img {
    align-self: center;
}

.child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}
.contact1, .scan-to-download1 , .contact11{
    margin-bottom: 1rem;
}

h4 {
    box-sizing: border-box;
    color: #f76f32;
    font-family: GilroyBold-☞, sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: left;
}

.row {
    display: flex;
    margin-bottom: 1rem;
}

.arr {
    flex-shrink: 0;
    height: 12.997px;
    width: 12.997px;
}

.Home {
    color: #3d3d3d;
    flex-wrap: wrap;
    font-family: GilroyRegular-☞, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 13px;
    margin-bottom: 4%;
    position: relative;
    text-align: left;
    text-decoration: none;
}

.address, .maiil {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
}

.address {
    flex-wrap: nowrap;
    margin-bottom: 1rem;
}
a {
    color: inherit;
    text-decoration: inherit;
}

.whitefield-bengaluru-560066 {
    color: #3d3d3d;
    font-family: GilroyRegular-☞, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    text-align: left;
}

.whitefield-bengaluru-560066, .whitefield-bengaluru-560066 * {
    box-sizing: border-box;
    flex-wrap: wrap;
}
.maiil {
    cursor: pointer;
    margin-bottom: 10px;
}
.social-media {
    display: flex;
}
.social-media a {
    margin: .3rem;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
.des {
    bottom: 0;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.footersvg {
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    width: 100%;
}

.centered-text {
    color: #f0f8ff;
    left: 50%;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    top: 70%;
    transform: translate(-50%, -50%);
}
.design {
    size-adjust: 10px;
}
@media only screen and (min-width: 781px) {
    .desa {
        display: none;
    }
}
@media only screen and (max-width: 781px) {
    .des {
        display: none;
    }
}
@media only screen and (max-width: 780px) {
    .footersvg {
        display: flex;
        flex-wrap: nowrap;
        height: auto;
        width: 100vw;
        width: 100%;
    }
}

@media only screen and (max-width: 780px) {
    .footersvgm {
        display: flex;
        flex-wrap: nowrap;
        height: auto;
        width: 100%;
    }
}
@media only screen and (max-width: 780px) {
    .desa {
        bottom: 0;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
    }
}
@media only screen and (max-width: 780px) {
    .centered-textm {
        color: #f0f8ff;
        left: 50%;
        padding: 5px 10px;
        position: absolute;
        text-align: center;
        top: 70%;
        transform: translate(-50%, -50%);
    }
}
@media only screen and (max-width: 780px) {
    .footer-columns {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}
@media only screen and (max-width: 780px) {
    .column1 {
        justify-content: center;
    }
}
@media only screen and (max-width: 780px) {
    .child {
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
    }
}
@media only screen and (max-width: 780px) {
    .column2, .column3 {
        align-items: center;
    }
}
@media only screen and (max-width: 780px) {
    .contact11 {
        display: none;
    }
}
@media only screen and (max-width: 780px) {
    .arr {
        width: 1rem;
    }
}
@media only screen and (max-width: 780px) {
    .home {
        margin-left: 1rem;
    }
}
@media only screen and (max-width: 780px) {
    .column2, .column3 {
        align-items: center;
    }
}

@media only screen and (max-width: 780px) {
    .column2, .column3 {
        flex-wrap: wrap;
        padding: 6%;
        width: 100%;
    }
}
@media only screen and (max-width: 780px) {
    .contact1 {
        font-size: 3rem;
    }
}
@media only screen and (max-width: 780px) {
    .social-media {
        padding-right: 2rem;
    }
}
@media only screen and (max-width: 780px) {
    .column4 {
        display: none;
    }
}