
.Newsletter-section{
    display: flex;
    justify-content: center;
}
.parentletter {
    border: 1px solid #ababab;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 80%;
}
@media screen and (max-width: 1200px) {
    .newsletter {
        display: flex;
        flex-direction: column-reverse;
        margin: 1rem .1rem .1rem;
        overflow: hidden;
        width: 100%;
    }
}

.newsletter {
    background-color: #fff;
    display: flex;
    margin: 3rem 2rem 2rem;
    width: 90%;
}
@media screen and (max-width: 1200px) {
    .letterimg {
        align-self: center;
        width: 100%;
    }
}

.letterimg {
    display: flex;
    justify-content: center;
    width: 30%;
}

@media screen and (max-width: 1200px) {
    .pic {
        padding: 0 1rem;
        width: 100%;
    }
}

.pic {
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .lettersecond {
        justify-content: flex-start;
        padding-left: 12%;
        padding-right: 12%;
        width: 100%;
    }
}

.lettersecond {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: .5rem;
    width: 70%;
}

@media screen and (max-width: 1200px) {
    .subscribebutton, .subscribetonews {
        display: none;
    }
}

.subscribetonews {
    color: #3d3d3d;
    font-family: GilroyBold-☞, sans-serif;
    font-size: clamp(1rem,2vw,2rem);
    font-weight: 600;
    line-height: 2rem;
    padding: .5rem;
    text-align: left;
}
@media screen and (min-width: 1201px) {
    .h-3e, .maill, .paragraphh, .subnews, .subscribee, .thnakulettere {
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .subnews, .subnews b {
        color: #3d3d3d;
        font-style: normal;
    }
}

@media screen and (max-width: 1200px) {
    .subnews {
        font-family: Gilroy-SemiBold, sans-serif;
        font-size: clamp(1rem,2vw,1.6rem);
        font-weight: 400;
        line-height: clamp(2rem,3vw,2rem);
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 1200px) {
    .subnews b {
        font-family: Gilroy-Bold, sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 26px;
    }
}

@media screen and (max-width: 1200px) {
    .subnews, .subnews b {
        color: #3d3d3d;
        font-style: normal;
    }
}
b, strong {
    font-weight: bolder;
}

@media screen and (max-width: 1200px) {
    .subscribebutton, .subscribetonews {
        display: none;
    }
}

.subscribebutton {
    border: 1px solid #ababab;
    border-radius: 30px;
    display: flex;
    height: 56px;
    overflow: hidden;
    width: 100%;
}

.mail {
    align-items: center;
    color: #ababab;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    text-indent: 1rem;
    width: 70%;
}
element.style {
    width: 100%;
    height: 100%;
    color: black;
    border: 0px;
    border-radius: 20px;
    outline: none;
    padding: 0px 20px;
}
button, input, optgroup, select, textarea {
    font-feature-settings: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
button.subscribe {
    align-items: center;
    background-color: #fe8849;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: GilroyBold-☞, sans-serif;
    font-size: clamp(.5rem,2vw,1rem);
    justify-content: center;
    letter-spacing: .02rem;
    width: 40%;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: initial;
    background-image: none;
}
[role=button], button {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-feature-settings: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
button {
 
    background-color: #fe8849;
    border: none;
    padding: 0;
}

[role=button], button {
    cursor: pointer;
}
button, select {
    text-transform: none;
}

@media screen and (max-width: 1200px) {
    .maill, .subscribee {
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        padding-bottom: .5rem;
        padding-top: .5rem;
    }
}
@media screen and (min-width: 1201px) {
    .h-3e, .maill, .paragraphh, .subnews, .subscribee, .thnakulettere {
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .maill {
        border: 1px solid #ababab;
        border-radius: 30px;
        color: #ababab;
        height: 40px;
        width: 100%;
    }
}
@media screen and (max-width: 1200px) {
    .subscribee {
        background-color: #fe8849;
        border-radius: 30px;
        border-style: solid;
        border-width: 1px;
        color: #fff;
        font-family: GilroyBold-☞, sans-serif;
        font-size: .8rem;
        text-align: center;
        width: 60%;
    }
}
@media screen and (max-width: 1200px) {
    .newsletter {
        display: flex;
        flex-direction: column-reverse;
        margin: 1rem .1rem .1rem;
        overflow: hidden;
        width: 100%;
    }
}
@media screen and (max-width: 1200px) {
    .letterimg {
        align-self: center;
        width: 100%;
    }
}
@media screen and (max-width: 1200px) {
    .pic {
        padding: 0 1rem;
        width: 100%;
    }
}
@media screen and (max-width: 1200px) {
    .lettersecond {
        justify-content: flex-start;
        padding-left: 12%;
        padding-right: 12%;
        width: 100%;
    }
}
@media screen and (max-width: 1200px) {
    .subscribebutton, .subscribetonews {
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .subnews, .subnews b {
        color: #3d3d3d;
        font-style: normal;
    }
}

@media screen and (max-width: 1200px) {
    .subnews {
        font-family: Gilroy-SemiBold, sans-serif;
        font-size: clamp(1rem,2vw,1.6rem);
        font-weight: 400;
        line-height: clamp(2rem,3vw,2rem);
        margin-bottom: 1rem;
    }
}